@font-face {
    font-family: 'SF Pro Rounded';
    font-weight: 100; /* Thin */
    font-style: normal;
    src: url('SF-Pro-Rounded-Ultralight.otf') format('opentype');
}

@font-face {
    font-family: 'SF Pro Rounded';
    font-weight: 200; /* Extra Light */
    font-style: normal;
    src: url('SF-Pro-Rounded-Light.otf') format('opentype');
}

@font-face {
    font-family: 'SF Pro Rounded';
    font-weight: 300; /* Light */
    font-style: normal;
    src: url('SF-Pro-Rounded-Regular.otf') format('opentype');
}

@font-face {
    font-family: 'SF Pro Rounded';
    font-weight: 400; /* Regular */
    font-style: normal;
    src: url('SF-Pro-Rounded-Regular.otf') format('opentype');
}

@font-face {
    font-family: 'SF Pro Rounded';
    font-weight: 500; /* Medium */
    font-style: normal;
    src: url('SF-Pro-Rounded-Medium.otf') format('opentype');
}

@font-face {
    font-family: 'SF Pro Rounded';
    font-weight: 600; /* Semibold */
    font-style: normal;
    src: url('SF-Pro-Rounded-Semibold.otf') format('opentype');
}

@font-face {
    font-family: 'SF Pro Rounded';
    font-weight: 700; /* Bold */
    font-style: normal;
    src: url('SF-Pro-Rounded-Bold.otf') format('opentype');
}

@font-face {
    font-family: 'SF Pro Rounded';
    font-weight: 800; /* Heavy */
    font-style: normal;
    src: url('SF-Pro-Rounded-Heavy.otf') format('opentype');
}

@font-face {
    font-family: 'SF Pro Rounded';
    font-weight: 900; /* Black */
    font-style: normal;
    src: url('SF-Pro-Rounded-Black.otf') format('opentype');
}